@charset "utf-8";

/*
 商家店铺首页
 */
@media screen and (max-width: 350px) {
    html{
        font-size:100px;
    }
}
@media screen and (min-width: 350px) and (max-width:374px) {
    html{
        font-size:115px;
    }
}
@media screen and (min-width: 375px) and (max-width:413px) {
    html{
        font-size:125px;
    }
}
@media screen and (min-width: 414px) and (max-width:449px) {
    html{
        font-size:135px;
    }
}
@media screen and (min-width: 450px) and (max-width:480px) {
    html{
        font-size:145px;
    }
}
@media screen and (min-width: 481px) and (max-width:560px) {
    html{
        font-size:175px;
    }
}
@media screen and (min-width: 560px) and (max-width:640px) {
    html{
        font-size:185px;
    }
}
@media screen and (min-width: 640px){
    html{
        font-size:200px;
    }
}
body,html{min-height:100%;background-color:#f2f3f6;overflow-x:hidden;}
#app{min-width:320px;overflow:hidden;margin:0 auto}
h1{color: red}
