a {
    color: #365899;
}

input {
    -webkit-appearance: none;
    outline: none;
    border-radius: 0;
}

input:focus, textarea:focus {
    outline: none;
}
.overflow-hide{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
    display: none;
}
.pull-left {
    float: left;
}

.pull-right {
    float: right;
}
.clear-both{
    clear: both;
}
.red {
    color: #D13333;
}

.list {
    width: 7.5rem;
    min-height: 100%;
}

.search-box {
    overflow: hidden;
    height: 0.6rem;
    margin: 0.25rem 0;
    padding: 0 0.3rem;
}

.search-form {
    position: relative;
    float: left;
    width: 6rem;
    height: 0.6rem;
    margin-right: 0.3rem;
    overflow: hidden;
}
.scan-code-box{
    position: absolute;
    top:0;
    right:0;
    width: 0.6rem;
    height: 0.6rem;
    line-height: 0.58rem;
    text-align: center;
    z-index: 9;
}
.scan-code{
    width: 0.32rem;
    height: 0.29rem;
}
.search-input {
    float: left;
    width: 6rem;
    height: 0.6rem;
    padding: 0 0.72rem;
    border: 1px solid #c5c7cc;
    font-size: 0.28rem;
}

.search-box .icon-dianpushouyesousuo {
    position: absolute;
    top: 0;
    left: 0.24rem;
    line-height: 0.6rem;
    font-size: 0.32rem;
    color: #8e8e93;
}

.clear-text {
    position: absolute;
    top: 0;
    right: 0;
    width: 0.6rem;
    line-height: 0.6rem;
    text-align: center;
    z-index: 10;
}

.clear-text .icon-shanchu {
    line-height: 0.32rem;
    font-size: 0.32rem;
    color: #c8d2e4;
}

.search-btn {
    float: left;
    line-height: 0.6rem;
    font-size: 0.28rem;
    color: #365899;
}

.tabs {
    height: 1.12rem;
    margin-top: 0.1rem;
    overflow: hidden;
}

.tab {
    float: left;
    width: 2.5rem;
    height: 1.12rem;
    padding: 0.2rem;
    background-color: #FBFBFC;
    border-top: 1px solid #d0d5db;
    border-bottom: 1px solid #e9e9e9;
    border-right: 1px solid #e9e9e9;
}

.tab:active {
    background-color: #eee;
}

.tab:last-child {
    border-right: none;
}

.active {
    color: #365899;
    border-top: 2px solid #365899;
    background-color: #fff;
}

.tab div {
    line-height: 0.37rem;
    font-size: 0.26rem;
    text-align: center;
}

.sort-list {
    overflow: hidden;
    margin-bottom: 0.1rem;
    background-color: #fff;
}

.screen-btn {
    float: left;
    width: 1.5rem;
    height: 0.76rem;
    font-size: 0.26rem;
    line-height: 0.76rem;
    text-align: center;
}
.screen-btn-box{
    display: inline;
    padding: 0.1rem 0.2rem;
    border-radius: 0.05rem;
}
.screen-btn-active{
    background-color: #6982b3;
    color: #ffffff;
}
.screen-btn span,.screen-btn i {
    display: inline-block;
    vertical-align: middle;
}
.sort-list .sort-btn {
    float: left;
    width: 1.5rem;
    height: 0.76rem;
    font-size: 0.26rem;
    line-height: 0.76rem;
    text-align: center;
}
.old-version .sort-btn{
    width: 1.875rem !important;
}

.sort-list .sort-btn span {
    display: inline-block;
    vertical-align: middle;
}

.sort-icon {
    position: relative;
    width: 0.2rem;
    height: 0.76rem;
}

.sort-icon i {
    position: absolute;
    top: 0;
    left: 0;
    line-height: 0.14rem;
    font-size: 0.12rem;
    color: #999999;
}

.sort-icon .icon-shangshou {
    top: 0.24rem;
}

.sort-icon .icon-xiala {
    top: 0.38rem;
}

.order-active {
    color: #8c222c;
}

.order-active .order-asc .icon-shangshou {
    color: #8c222c;
}

.order-active .order-desc .icon-xiala {
    color: #8c222c;
}

.noitem-box {
    text-align: center;
    padding-bottom: 2rem;
}

.noitem-box .img-noitem {
    width: 1.6rem;
    height: 1.67rem;
    margin-top: 2.6rem;
    margin: 2.8rem 0 0.48rem 0;
}

.img-search {
    width: 0.8rem;
    height: 0.8rem;
    margin-top: 0.8rem;
    margin: 0.8rem 0 0.48rem 0;
}

.img-wifi {
    width: 1.06rem;
    height: 0.73rem;
    margin-top: 2.6rem;
    margin: 2.8rem 0 0.48rem 0;
}

.noitem-box p {
    margin-bottom: 0.5rem;
    color: #999999;
    font-size: 0.28rem;
    text-align: center;
}

.up-book {
    text-align: center;
}

.up-book .up-btn {
    display: inline-block;
    width: 1.5rem;
    height: 0.7rem;
    margin-right: 0.5rem;
    line-height: 0.7rem;
    font-size: 0.26rem;
    border: 1px solid #92A5CA;
    color: #365899;
    background-color: #fff;
    border-radius: 0.05rem;
    text-align: center;
}

.up-book .up-btn:active {
    background-color: #F2F3F6;
}

.up-book .up-btn:last-child {
    margin-right: 0;
}

.item-list {
    padding-bottom: 0.88rem;
}

.item-box {
    height: 3.3rem;
    margin-bottom: 0.1rem;
}

.item {
    height: 2.6rem;
    padding: 0.28rem 0.2rem;
    border-top: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
    background-color: #fff;
    overflow: hidden;
}

.item-img {
    display: block;
    width: 2rem;
    height: 2rem;
    margin-right: 0.2rem;
    line-height: 1.92rem;
    text-align: center;
    border: 1px solid #e9e9e9;
}

.item-img img {
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
}
.item-checkbox{
    float: left;
    width: 0.42rem;
    height: 2rem;
    margin-right: 0.2rem;
    line-height: 2rem;
}
.item-checkbox i{
    font-size:0.4rem;
}
.item-info {
    position: relative;
    width: 4.9rem;
    height: 2rem;
}
.item-content {
    position: absolute;
    bottom: 0;
    width: 4.9rem;
}
.batch-operate .item-info{
    width: 4.28rem;
}
.batch-operate .item-content{
    width: 4.28rem;
}
.item-name {
    max-height: 0.72rem;
    line-height: 0.36rem;
    font-size: 0.26rem;
    word-break: break-all;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.discount-price {
    height: 0.28rem;
    line-height: 0.28rem;
    font-size: 0.28rem;
    color: #bd805b;
}

.discount-price i {
    font-size: 0.22rem;
}

.discount-num {
    font-size: 0.22rem;
}

.no-more {
    margin-bottom: 0.1rem;
    text-align: center;
    color: #bbb;
    font-size: 0.24rem;
}

.item-row {
    position: relative;
    height: 0.33rem;
    line-height: 0.33rem;
    margin-top: 0.1rem;
    font-size: 0.24rem;
    overflow: hidden;
}

.certify-status {
    margin-left: 0.8rem;
}

.item-quality {
    position: absolute;
    right: 0;
}

.item-quality-mid {
    position: absolute;
    left: 2.47rem;
}

.item-price {
    font-size: 0.28rem;
    color: #bd805b;
}

.item-price i {
    font-size: 0.18rem;
}

.prime-cost {
    color: #999;
    text-decoration: line-through
}

.operate-list {
    height: 0.7rem;
    background-color: #F8F9FA;
    border-bottom: 1px solid #e9e9e9;
    overflow: hidden;
}

.operate-box {
    float: left;
    width: 1.875rem;
    height: 0.7rem;
    padding: 0.16rem 0;
}

.operate-box:active {
    background-color: #e0e4e8;
}

.operate-certified-box {
    float: left;
    width: 2.5rem;
    height: 0.7rem;
    padding: 0.16rem 0;
}

.operate-certified-box:active {
    background-color: #e0e4e8;
}

.disabled-box {
    color: #bbb;
}

.disabled-box:active {
    background-color: #F8F9FA;
}

.operate-btn {
    height: 0.38rem;
    line-height: 0.38rem;
    border-right: 1px solid #d0d5db;
    font-size: 0.26rem;
    text-align: center;
}

.operate-box:last-child .operate-btn, .operate-certified-box:last-child .operate-btn {
    border-right: none;
}
.batch-operate-bottom{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1rem;
    line-height: 1rem;
    font-size: 0.3rem;
    border-top:1px solid #d0d5db;
    background-color: #ffffff;
    overflow: hidden;
}
.batch-operate-bottom-ipx{
    height: 1.5rem;
}
.checked-all{
    float: left;
    width: 2rem;
    height: 1rem;
    line-height: 1rem;
    text-align: center;
    overflow: hidden;
}
.checked-all i{
    float: left;
    margin:0 0.2rem;
    font-size: 0.4rem;
}
.checked-all span{
    float: left;
}
.batch-operate-box{
    float: right;
    width: 4.1rem;
    overflow: hidden;
}
.batch-operate-btn{
    float: left;
    width: 1.72rem;
    height: 0.64rem;
    line-height: 0.64rem;
    margin:0.18rem 0.3rem 0 0;
    border: 1px solid #d0d5db;
    border-radius: 0.04rem;
    color: #999999;
    background-color: #f8f9fa;
    text-align: center;
}
.batch-operate-do-btn{
    border:1px solid #92a5cb;
    color: #6982b3;
    background-color: #E9EDF4;
}
.batch-operate-do-btn:active{
    background-color: #fff;
}
.uncertify-delete{
    width: 1.72rem;
    float: right;
}
.page-box {
    width: 100%;
    height: 0.88rem;
    line-height: 0.88rem;
    border-top: 1px solid #e9e9e9;
    font-size: 0.28rem;
    color: #333;
    text-align: center;
    background-color: #fff;
    overflow: hidden;
}

.prev-page, .next-page {
    padding: 0 0.4rem;
}

.prev-page:active {
    background-color: #e0e4e8;
}

.next-page:active {
    background-color: #e0e4e8;
}

.page-num {
    display: inline-block;
    padding: 0.22rem 0;
    line-height: 0.44rem;
}

.page-num input {
    width: 0.7rem;
    height: 0.44rem;
    border: 1px solid #EFEFEF;
    background-color: #F7F7FA;
    text-align: center;
}

.page-diabled {
    color: #999999 !important;
}

.page-diabled:active {
    background-color: #ffffff;
}