.screen-box{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index:99;
}
.over-layer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index:900;
}
.select-over-layer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index:902;
}
.select-list{
    position: absolute;
    top: 0;
    right: 0;
    width: 5.7rem;
    height: 100%;
    padding-bottom:1rem;
    background-color: #fff;
    overflow-y: auto;
    -webkit-overflow-scrolling : touch;
    z-index:903;
}
.select-title{
    position: relative;
    height: 0.86rem;
    line-height: 0.86rem;
    border-bottom:1px solid #e9e9e9;
    overflow: hidden;
}
.select-title h3{
    text-align: center;
}
.select-title i{
    position: absolute;
    left:0.14rem;
    font-size: 0.46rem;
    color: #6982b3;
    transform: rotate(180deg);
}
.select-item{
    position: relative;
    padding-left: 0.2rem;
}
.select-item i{
    display: none;
    position: absolute;
    top: 0;
    right: 0.2rem;
    line-height:1rem;
    font-size: 0.38rem;
    color: #6982b3;
}
.cat-checked i{
    display: inline-block;
}
.select-item:last-child{
    border-bottom:1px solid #e9e9e9;
}
.select-item:last-child .select-name{
    border: none;
}
.select-name{
    width: 5.5rem;
    height: 0.86rem;
    line-height: 0.86rem;
    border-bottom:1px solid #dedfe1;
    font-size:0.26rem;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.screen-list{
    position: absolute;
    top: 0;
    right: 0;
    width: 5.7rem;
    height: 100%;
    padding-bottom: 0.9rem;
    background-color: #fff;
    overflow-y: auto;
    -webkit-overflow-scrolling : touch;
    z-index:901;
}
.screen-header{
    padding:0.24rem 0 0 0.27rem;
    margin-bottom:0.24rem;
    color: #999999;
}
.screen-title{
    padding-bottom:0.22rem;
    border-bottom: 1px solid #dedfe1;
    line-height: 0.42rem;
    font-size: 0.3rem;
}
.screen-item-a{
    height: 0.6rem;
    line-height:0.6rem;
    padding-left: 0.3rem;
    margin-bottom: 0.2rem;
    overflow: hidden;
}
.cat-name{
    float: left;
    display: block;
    width: 2.8rem;
    margin-left:0.5rem;
    font-size: 0.26rem;
    color: #333333;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.screen-label{
    float: left;
    display: block;
    width: 1.1rem;
    margin-right: 0.05rem;
    font-size: 0.26rem;
    color: #666666;
}
.screen-item-a input{
    position: relative;
    float: left;
    width: 4rem;
    height: 0.6rem;
    padding:0.16rem 0;
    line-height:0.26rem;
    border: 1px solid #dedfe1;
    font-size: 0.26rem;
    text-indent: 0.05rem;
}
.screen-item-b{
    height: 0.6rem;
    line-height:0.6rem;
    padding-left: 0.3rem;
    margin-bottom: 0.2rem;
    overflow: hidden;
}
.screen-item-b .line{
    float: left;
    width: 0.16rem;
    height: 0.29rem;
    margin: 0 0.12rem;
    border-bottom:1px solid #333;
}
.add-time{
    position: relative;
    float: left;
    overflow: hidden;
}
.screen-item-b input{
    position: relative;
    float: left;
    width: 1.8rem;
    height: 0.6rem;
    padding:0.16rem 0.4rem 0.16rem 0.1rem;
    line-height:0.26rem;
    border: 1px solid #dedfe1;
    font-size: 0.26rem;
}
.screen-item-b .time-input{
    position: relative;
    float: left;
    width: 1.8rem;
    height: 0.6rem;
    padding:0.16rem 0.4rem 0.16rem 0.1rem;
    line-height:0.26rem;
    border: 1px solid #dedfe1;
    font-size: 0.26rem;
}
.time-img{
    position: absolute;
    top:0.14rem;
    right: 0.14rem;
    width: 0.32rem;
    height: 0.32rem;
}
.quality-list{
    padding: 0 0.3rem;
    border-top:1px solid #dedfe1;
    overflow: hidden;
}
.screen-item-c{
    height: 0.86rem;
    padding: 0 0.3rem;
    line-height: 0.86rem;
    border-top:1px solid #dedfe1;
    overflow: hidden;
}
.screen-item-c i{
    float: right;
    font-size: 0.46rem;
    color: #6982b3;
}
.quality i{
    transition: All 0.3s ease-in-out;
}
.open-icon i {
    transform: rotate(-90deg);
}
.screen-item-d{
    padding: 0 0.3rem;
    line-height: 0.86rem;
    border-top:1px solid #dedfe1;
    overflow: hidden;
}
.quality-box{
    padding-top:0.3rem;
    overflow: hidden;
}
.quality-btn{
    float: left;
    width:1.2rem;
    height: 0.6rem;
    margin:0 0.3rem 0.3rem 0;
    line-height: 0.6rem;
    border-radius: 0.05rem;
    background-color: #e9edf4;
    font-size: 0.24rem;
    color: #666666;
    text-align: center;
}
.other-box{
    overflow: hidden;
}
.other-btn{
    float: left;
    min-width:1.2rem;
    height: 0.6rem;
    margin:0 0.3rem 0.3rem 0;
    padding:0 0.24rem;
    line-height: 0.6rem;
    border-radius: 0.05rem;
    background-color: #e9edf4;
    font-size: 0.24rem;
    color: #666666;
    text-align: center;
}
.checked-btn{
    color: #ffffff !important;
    background-color: #6982B3 !important;
}
.btn-box{
    position: fixed;
    right: 0;
    bottom: 0;
    height: 0.9rem;
    font-size: 0.28rem;
    background-color: #fff;
    overflow: hidden;
}
.reset-btn{
    float: left;
    width: 2.85rem;
    height: 0.9rem;
    line-height:0.9rem;
    border-top:1px solid #92a5cb;
    background-color: #ffffff;
    color: #92a5cb;
    text-align: center;
}
.submit-btn{
    float: left;
    width: 2.85rem;
    height: 0.9rem;
    line-height:0.9rem;
    background-color: #365899;
    color: #ffffff;
    text-align: center;
}