<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="format-detection" content="email=no" />
    <title>爽宝贝</title>
    <style id="rootFontSize">html{font-size: 100px;}</style>
</head>
<body>
<div id="app">
</div>
<script type="text/javascript" src="http://www.chensyl.com/babel-polyfill/babel-polyfill.a490220cbad261884f39.js"></script><script type="text/javascript" src="http://www.chensyl.com/vender/vender.a490220cbad261884f39.js"></script><script type="text/javascript" src="http://www.chensyl.com/index/index.9db23396e202ff62f8f3.js"></script></body>
</html>