<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="format-detection" content="email=no" />
    <title>爽宝贝</title>
    <style id="rootFontSize">html{font-size: 100px;}</style>
<link href="http://www.chensyl.com/home/home.62dbfe86862be59750b6.css" rel="stylesheet"></head>
<body>
<div id="app">
</div>
<script type="text/javascript" src="http://www.chensyl.com/babel-polyfill/babel-polyfill.a4e72159c2cb79d22d96.js"></script><script type="text/javascript" src="http://www.chensyl.com/vender/vender.a4e72159c2cb79d22d96.js"></script><script type="text/javascript" src="http://www.chensyl.com/home/home.08f0682c1310b57fabb6.js"></script></body>
</html>