<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="format-detection" content="email=no" />
    <title>爽宝贝</title>
    <style id="rootFontSize">html{font-size: 100px;}</style>
  <link href="//m.kongfz.com/h5/seller/commodity/commodity.76d97b65175d7d39e314.css" rel="stylesheet"></head>
  <body>
    <div id="app">
    </div>
  <script type="text/javascript" src="//m.kongfz.com/h5/seller/babel-polyfill/babel-polyfill.1a472a789d5988553ade.js"></script><script type="text/javascript" src="//m.kongfz.com/h5/seller/vender/vender.1a472a789d5988553ade.js"></script><script type="text/javascript" src="//m.kongfz.com/h5/seller/commodity/commodity.7ae27c29ce5f09424ad1.js"></script></body>
</html>