<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="format-detection" content="email=no" />
    <title>爽宝贝</title>
    <style id="rootFontSize">html{font-size: 100px;}</style>
  <link href="http://www.chensyl.com/commodity/commodity.62dbfe86862be59750b6.css" rel="stylesheet"></head>
  <body>
    <div id="app">
    </div>
  <script type="text/javascript" src="http://www.chensyl.com/babel-polyfill/babel-polyfill.d86cc9b3df83a4d0c022.js"></script><script type="text/javascript" src="http://www.chensyl.com/vender/vender.d86cc9b3df83a4d0c022.js"></script><script type="text/javascript" src="http://www.chensyl.com/commodity/commodity.8b520bc1086e571cd1be.js"></script></body>
</html>